



/*******************************************************************************************************************/
body {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    
}



.horizontal {
    width: 100%;
    height: auto;
    display: grid;
    grid-row-gap: 100px;
    justify-content: center;
    grid-template-rows: auto auto auto;  
    grid-template-columns: 1fr;
    grid-template-areas: "HEAD"
                         "MAIN"
                         "FOOT";
    


}


.center-holder {
    grid-area: MAIN;
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    
}



#CONTENT-CENTERED {   
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#HEADER {
    grid-area: HEAD;
    height: 300px;
    width: 100%;
    background-color: #2e2e2e;
}



#FOOTER {
    grid-area: FOOT;
    height: 300px;
    width: 100%;
}
/*******************************************************************************************************************/










#MAIN-CONTAINER {
    grid-area: MAIN;
    width: 90vw;
    height: 100%;
    display: grid;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    grid-column-gap: 40px;
    grid-row-gap: 100px;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: ". MAIN_TITLE ."
                         ". DESCRIPTION ."
                         ". CAROUSEL .";
}



#MAIN-DESCRIPTION {
    grid-area: DESCRIPTION;
    width: 100%;
    height: auto;
}


#CAROUSEL {
    grid-area: CAROUSEL;   
    height: auto;
    width: 100%;
    
}

#TITLE {
    grid-area: MAIN_TITLE;
    height: auto;
    width: 100%;

}









#HERO {
    width: 100%;
    height: 100%;
    display: grid;

    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:    1fr;
    grid-template-areas: "TEXT IMAGE IMAGE IMAGE";
}

#PORTRAIT {
        grid-area: IMAGE;
        height: 100%;
        background-image: url('../Assets/OZ DUBAI.jpg');
}








/******************************FONTS***************************/
h1 {
    font-family: sofia-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 8rem;
}



h2 {
    font-family: sofia-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
}



h3 {
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
}
/******************************FONTS***************************/

















































*,
*::before,
*::after {
    box-sizing: border-box;
}



.carousel {
    width: 100%;
    height: 300px;
    position: relative;
}

.carousel>ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

















.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide>img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

















.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover,
.carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus {
    outline: 1px solid black;
}

.carousel-button.prev {
    left: 1rem;
}

.carousel-button.next {
    right: 1rem;
}
